.card-item {
  height: 32px;
  width: 90%;
  padding: 5px;
  border-bottom: 1px solid var(--color-border-card-item);
}

.card-item:last-child {
  border-bottom: 0px;
}
.card-item-text {
  width: 85%;
}

.card-item-text__number {
  margin: 0 5px 0 0;
}

.card-item-text__title {
  margin: 0 10px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 40%;
}

.card-item-text__main {
  margin: 0 2px 0 0;
}

.card-item__btn-remove {
  cursor: pointer;
  border: 1px solid var(--color-border);
  padding: 0.1rem 0.5rem;
  background: var(--white);
  border-radius: 0.5rem;
}

.card-item__btn-remove:active {
  background: var(--bg-btn-active);
}

.card-item-text__eddit-btn {
  cursor: pointer;
  border: 0px;
  margin: 0 10px 0 0;
  padding: 5px;
  background: var(--white);
  border-radius: 0.5rem;
}

.card-item-text__eddit-btn:active {
  background: var(--bg-btn-active);
}

.cross {
  width: 12px;
}
.pencil {
  width: 12px;
}
