.search {
  width: 90%;
  margin: 20px 20px;
}

.search__input {
  outline: none;
  width: 90%;
  padding: 20px 25px;
  border-radius: 0.5rem;
  border: 1px solid var(--color-border);
  font-size: 1.2rem;
}

.search__btn_search {
  padding: 10px 15px;
  margin: 0 5px;
}

.search__btn_reset {
  padding: 10px 15px;
  height: 70%;
}
