.error-alert {
  position: absolute;
  z-index: 2;
  background: var(--bg-error-alert);
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}
.error-alert-card {
  width: 30%;
  background: var(--white);
  padding: 10px;
  border-radius: 0.5rem;
}
.error-alert-card__title {
  color: var(--color-error-text);
  padding: 15px 10px;
  width: 80%;
  text-align: center;
  border-bottom: 1px solid var(--color-error-text);
}

.error-alert-card__text {
  text-align: center;
  margin: 15px 10px;
  font-size: 1.5rem;
  color: var(--color-error-text);
}
